/* Python cache files */
__pycache__/

/* Tuner directory of neural networks */
src/tuner_directory

/* Split CSV cache files of custom dataset */
src/datasets/custom/data/splits

/* Ignore log files */
src/logs/*

/* Ignore models (temporary) */
models/*

/* Ignore metrics (temporary) */
metrics/*
